body{
  background-color: #8892BF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #4F5B93;
  border: #000 10px solid;
  border-radius: 5px;
}

header {
  background-color: #4F5B93;
  margin: 20px;
  padding: 10px;
  border: #000 10px solid;
  width: 30vw;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none; /* no underline */
}

#display table td, #display table th{
  border: 1px solid #ddd;
  padding: 8px;
}

#display table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

#form-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4F5B93;
  margin: 20px;
  padding: 10px;
  border: #000 10px solid;
  border-radius: 5px;
}